{{!--  # Header partial including app name, search, and profile pic --}}
    <header>
        <div class="ml5">
            {{!-- {{> logo}} -- needs update --}}
        <a href="/">
        <h1>instalLASAGNA</h1>
        </a>
{{!-- <h4>Welcome, {{this.username ? this.username : 'Guest' }}</h4> --}}
        {{#if userId}}
        <h5 class="">Welcome, {{userName}}</h5>
        {{/if}}

        </div>
        <nav class="flex items-center">
            <a href="/new_recipe" class="pr2">New Recipe</a>
            {{> searchForm}}

            <a href="/signup" class="pr2">Sign Up</a>
            <a href="/login" class="pr2">Log in</a>
        </nav>

        
    </header>
