<div>
      <button class="mr signUpToggle">{{type}}</button>
</div>

<article class="credentials pa1 pl2 pb2 mt3 black-80">
  <form action="/login" method="POST" accept-charset="utf-8">
    <fieldset id="userForm" class="ba b--transparent ph0 mh0">

    {{!-- {{#if (eq 1 1)}}

        {{/if}} --}}
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="username">Username</label>
        <input class="pa2 input-reset ba bg-transparent w-100 measure" type="text" name="username"  id="username">
      </div>
        

      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="password">Password</label>
        <input class="b pa2 input-reset ba bg-transparent" type="password" name="password"  id="password">
      </div>
    </fieldset>
    <div class="mt3"><input class="credentialSubmit b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="Login" value="{{type}}"></div>
  </form>
</article>