
<body>
    <div class="card">
        <section class="tile text-center content-align-center">
        <h2>{{title}}</h2>
      <h3 class="bottom-right">{{type}}</h3>
    </section>
</div>
</div>
</body>
