<form class="search-form flex items-center">
    <i class="fas fa-search pa2 mr2 grow"></i>

    <input class="pa2 mr3 input-reset ba bg-transparent w-200 measure" type="text" name="search" placeholder="Find what you seek..." id="search">
    
</form>
