<form>
{{title}} {{os}}
        
        <div class="step" id="sequence-1">
                    <input class="pa2 input-reset ba bg-transparent w-100 measure" type="text" name="step"  id="email">

        </div>
    </form>