<section class="my-recipes pa2 mh7">

    <h2 class="border-bottom pb2 mb2">{{header}}</h2>

    <div class="recipesContainer flex-wrap ml4">
        {{#each recipes}}
            {{> recipeCard}}
        {{/each}}
    </div>
</section>