{{!-- # Recipe creation, viewing, and editing page --}}

{{> heading tag='h2' title=this.title}}
<h4 class=" pb2 mb2 mh4 {{os}}">OS: {{os}}</h4>
<section class="flex-auto">
    {{> stepsContainer}}
</section>


    <button id="fetchDataButton">GET IT</button>



{{!-- // save button and add block do the same thing
// after each block the page re-renders with added block --}}


