{{!-- # Recipe editing page --}}

{{> heading tag='h2' title=this.title}}
<div class="flex justify-between">
    <h4 class=" pb2 mb2 mh4 {{os}}">OS: <span id="os">{{os}}</span></h4>
</div>
<p class="grow mb4 tc w-100 pointer" id="add-step">V Add Step V</p>
<section class="flex flex-auto items-start justify-center">
    <form id='recipe-form'>
        {{!-- <button class="mh6 ph4 grow pointer br-pill" id="save-btn">SAVE</button> --}}

        {{#each steps}}
        {{!-- {{this.sequence }} --}}
        {{> stepEdit sequence=this.sequence text=this.content notes=this.notes}}
       

        {{/each}}
    </form>


</section>
<p id="save-btn">Save</p><a href="/view_recipe/{{recipeId}}">Leave Editor</a>



<button id="fetchDataButton">GET IT</button>



{{!-- include save button, once view_recipe is done come back --}}