{{!-- # Recipe editing page --}}

{{> heading tag='h2' title=this.title}}
<div class="flex justify-between">
    <h4 class=" pb2 mb2 mh4 {{os}}">OS: <span id="os">{{os}}</span></h4>
</div>
<section class="flex flex-auto items-start justify-center">
    <form id='recipe-form'>

        {{#each steps}}
        {{> stepEdit sequence=this.sequence text=this.content notes=this.notes}}
        {{/each}}
    </form>


</section>
<p id="save-btn">Save</p><a href="/view_recipe/{{recipeId}}">Leave Editor</a>



<button id="fetchDataButton">GET IT</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/js/script.js"></script>